body {
    margin: auto;
    
}

header {
    color: white;
}


li:hover {
    cursor: pointer;
}

.city {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 30px;
    line-height: 3rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    color:white;
    min-width: 15%;
    height: 200px;
    background-color: rgb(41, 117, 184);
}